node_modules/
.next/
out/
.env*
!.env.local.example
*.log
# PWA generated service worker files
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
tsconfig.tsbuildinfo
